@using FeedbackWebsite.Utils
@using FeedbackWebsite.ViewModels
@model FeedbackWebsite.ViewModels.QuestionsAnswersText

<div class="form-group">
    <label asp-for="@Model.TextAnswer" class="control-label">@Model.QuestionText</label>
    <input asp-for="@Model.TextAnswer" name="items[@Model.QuestionId]" class="form-control" />
    <input type="hidden" asp-for="@Model.QuestionType" name="questionType" value="@Model.QuestionType" />
    <input type="hidden" asp-for="@Model.QuestionId" name="questionId" value="@Model.QuestionId" />
    <span asp-validation-for="@Model.TextAnswer" class="text-danger"></span>
</div>