@using FeedbackWebsite.Utils
@using FeedbackWebsite.ViewModels
@using FeedbackWebsite.Models
@model FeedbackWebsite.ViewModels.UserInfoEventViewModel

@{
    ViewData["Title"] = "Index";
    var headerEvent = new EventInfoModel();
}

<p>
    <h1>Event Feedback</h1>
</p>

<p>
    <a class="btn btn-success" asp-action="Create" role="button">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => headerEvent.EventName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => headerEvent.EventOrg)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ =>headerEvent.PresentersName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => headerEvent.EventLocation)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => headerEvent.EventStartDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => headerEvent.EventEndDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>        
            <td>
                @Html.DisplayFor(model => model.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Department)
            </td>
            <td>
                @Html.DisplayFor(model => model.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Questions" asp-action="Details" asp-route-eventId= "@item.Id" >See questions info</a> 
            </td>*@
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="dropdown-item" asp-controller="Questions" asp-action="Details" asp-route-eventId="@item.Id">See questions info</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>